<div class="row-lg">
    <div class="col-lg">
        <input type="email" placeholder="Email" class="form-control" [(ngModel)]="email">
    </div>
</div>
<div class="row" style="margin-top: 3px;">
    <div class="col-lg">
        <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password">
    </div>
</div>
<small class="text-muted">Riservato ai Team principals</small>
<div class="row" style="margin-top: 3px;">
    <button type="button" class="btn btn-sm btn-primary"
        style="background-color: #EF1A2D; border-color: #EF1A2D;">Login</button>
</div>